/********** header **********/
.header .header_container .gnb .logo a {
  background: url(../common/images/logo_black.png) no-repeat 50%/contain;
}
.header .header_container .gnb ul {
  width: 7vw;
}
.header .header_container .gnb ul .color_mode_btn a {
  background: url(../common/images/btn_colorMode.png) no-repeat 50%/contain;
}
.header .contact_btn {
  width: 140px;
  height: 140px;
  bottom: 4.5vw;
  right: 3vw;
}
.header .contact_btn a {
  background: url(../common/images/goUp.png) no-repeat 50%/contain;
}
.header .top_btn {
  bottom: 75px;
}

/********** menu - active **********/
.active .header {
  /********** menu_gnb **********/
}
.active .header .menu_gnb .contact_menu .contact_git span {
  background: url(../common/images/gitHub.png) no-repeat 50%/contain;
}
.active .header .menu_gnb .contact_menu .contact_notion span {
  background: url(../common/images/notion.png) no-repeat 50%/contain;
}

/********** main **********/
.main {
  padding: 0 15vw;
}
.main .title {
  margin: 40px 0 30px;
  transition: 0.3s;
}
.main .title li {
  display: flex;
  align-items: flex-end;
}
.main .title li p {
  font-size: 1.3em;
}
.main .title li h2 {
  font-size: 7em;
  line-height: 0.7;
}
.main .title li h2 .h3 {
  font-size: 0.2em;
}
.main .title li h2 .mobile {
  display: none;
}
.main .sub_txt p {
  font-size: 17px;
  line-height: 1.6;
}

/********** about **********/
.about .aboutMe h2 {
  font-size: 4em;
}
.about .aboutMe h2 .br {
  display: none;
}
.about .aboutMe h3 {
  font-size: 1.6em;
}
.about .aboutMe h3 .br {
  display: none;
}
.about .aboutMe p {
  width: 30vw;
}
.about .keywords .keywords_wrap {
  font-size: 3.5em;
}
.about .keywords .keywords_wrap li ul li {
  height: 84px;
}
.about .keywords .keywords_wrap li ul li .mobile_remove {
  display: block;
}
.about .keywords .keywords_wrap li ul li .mobile_add {
  display: none;
}

/********** projects **********/
.projects {
  flex-direction: row;
}
.projects .title_wrap {
  width: 30%;
  height: 100%;
}
.projects .img_wrap {
  width: 70%;
  height: 100%;
  position: relative;
}
.projects .img_wrap .img_swp {
  width: 70vw;
  margin-top: 0;
  position: absolute;
}
.projects .img_wrap .img_swp .swiper {
  width: 100%;
  margin-top: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper {
  height: 80%;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide {
  width: 50%;
  height: 100%;
  padding: 0 100px;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(5, 1fr);
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide a {
  height: 17vw;
  grid-row: 1/4;
  margin-left: 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt {
  width: 100%;
  height: 100%;
  grid-row: 4/5;
  padding: 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt h2 {
  margin-top: 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt ul li {
  padding: 10px 20px;
  margin: 5px;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .ul_tab {
  display: block;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .ul_mobil {
  display: none;
}
.projects .img_wrap .img_swp .swiper .swiper-button-next,
.projects .img_wrap .img_swp .swiper .swiper-button-prev {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 420px;
}
.projects .img_wrap .img_swp .swiper .swiper-button-next {
  right: 13vw;
}
.projects .img_wrap .img_swp .swiper .swiper-button-prev {
  left: 13vw;
}

/********** skills **********/
.skills ul li {
  font-size: 2em;
}
.skills ul .skill_box .box_txt {
  padding: 40px 0 40px 15vw;
  margin: 0;
}
.skills ul .box1.on {
  height: 160px;
}
.skills ul .box2.on {
  height: 155px;
}
.skills ul .box3.on {
  height: 155px;
}
.skills ul .box4.on {
  height: 100px;
}
.skills ul .last_box {
  height: 135px;
}

/********** contact **********/
.contact {
  /********** footer **********/
}
.contact .roll {
  font-size: 9.5em;
}
.contact .contact_wrap {
  display: flex;
  flex-direction: row;
}
.contact .contact_wrap .git {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
}
.contact .contact_wrap .git .git_logo {
  background: url(../common/images/gitHub.png) no-repeat 50%/contain;
}
.contact .contact_wrap .notion .notion_logo {
  background: url(../common/images/notion.png) no-repeat 50%/contain;
}
.contact .contact_wrap a .right {
  background: url(../common/images/contact_right.svg) no-repeat 50%/contain;
}
.contact footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content-padding-left: 0;
}/*# sourceMappingURL=style.p.css.map */