html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #000;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "NanumSqauer";
  font-size: 17px;
}

.section {
  height: 100vh;
}

/********** header **********/
.header {
  z-index: 1;
  position: fixed;
  top: 0;
}
.header .header_container .gnb {
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: 0.3s;
}
.header .header_container .gnb .logo {
  width: 33px;
  height: 26px;
}
.header .header_container .gnb .logo a {
  width: 100%;
  height: 100%;
  background: url(../common/images/logo_black.png) no-repeat 50%/contain;
  display: block;
}
.header .header_container .gnb .title {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 10px;
  opacity: 0;
  transition: 0.3s;
}
.header .header_container .gnb ul {
  width: 15vw;
  height: 26px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  transition: 0.3s;
}
.header .header_container .gnb ul .color_mode_btn {
  min-width: 25px;
  transition: 0.3s;
}
.header .header_container .gnb ul .color_mode_btn a {
  width: 100%;
  height: 100%;
  background: url(../common/images/btn_colorMode.png) no-repeat 50%/contain;
  display: block;
}
.header .header_container .gnb ul .color_mode_btn:hover {
  transform: rotate(180deg);
}
.header .header_container .gnb ul .menu_btn {
  width: 26px;
  transition: 0.3s;
}
.header .header_container .gnb ul .menu_btn a {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  justify-content: space-between;
}
.header .header_container .gnb ul .menu_btn a span {
  width: 1px;
  height: 100%;
  background-color: #000;
  margin-left: 5px;
  transition: 0.3s;
}
.header .header_container .gnb ul .menu_btn:hover {
  transform: rotate(90deg);
}
.header .header_container .gnb ul .menu_btn:hover a .short {
  height: 60%;
}
.header .menu_gnb {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateX(100vw);
  position: absolute;
}
.header .menu_gnb ul li a {
  transition: 1s;
}
.header .contact_btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  transition: 0.4s;
}
.header .contact_btn a {
  width: 100%;
  height: 100%;
  background: url(../common/images/goUp.png) no-repeat 50%/contain;
  display: block;
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}
.header .contact_btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.header .upBtn {
  opacity: 0;
}
.header .top_btn {
  height: 30px;
  font-size: 1.1em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 40px;
  left: 5vw;
  opacity: 0;
  transition: 0.3s;
}
.header .top_btn a {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.header .top_btn a span {
  margin-right: 5px;
  font-size: 1.6em;
}
.header .top_btn:hover {
  height: 50px;
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear;
}

/********** menu - active **********/
.active .header {
  /********** menu_gnb **********/
}
.active .header .header_container .gnb {
  background-color: #fff;
}
.active .header .header_container .gnb .title {
  font-family: "Inter", "NanumSqaure";
  letter-spacing: 6px;
  margin-left: 15px;
  margin-bottom: 5px;
  opacity: 1;
}
.active .header .header_container .gnb ul .menu_btn {
  width: 26px;
  transition: 0.3s;
}
.active .header .header_container .gnb ul .menu_btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.active .header .header_container .gnb ul .menu_btn a .bar1 {
  transform: translateX(5px) rotate(45deg);
}
.active .header .header_container .gnb ul .menu_btn a .bar2 {
  transform: translateX(-5px) rotate(-45deg);
}
.active .header .header_container .gnb ul .menu_btn a .short {
  height: 0;
  opacity: 0;
}
.active .header .header_container .gnb ul .menu_btn:hover {
  transform: rotate(90deg);
}
.active .header .header_container .gnb ul .menu_btn:hover a .short {
  height: 60%;
}
.active .header .menu_gnb {
  height: 90vh;
  opacity: 1;
  transform: translateX(0);
  transition: 1s;
}
.active .header .menu_gnb ul {
  display: flex;
  font-family: "Mulish";
}
.active .header .menu_gnb ul li {
  line-height: 1.7;
}
.active .header .menu_gnb ul li a:hover {
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear;
}
.active .header .menu_gnb .main_menu {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 3.3em;
  margin-right: 10vw;
  transition: 0.3s;
}
.active .header .menu_gnb .contact_menu {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 20px;
}
.active .header .menu_gnb .contact_menu .contact_git {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.active .header .menu_gnb .contact_menu .contact_git span {
  width: 30px;
  height: 20px;
  background: url(../common/images/gitHub.png) no-repeat 50%/contain;
  opacity: 0.4;
}
.active .header .menu_gnb .contact_menu .contact_notion {
  display: flex;
  align-items: center;
}
.active .header .menu_gnb .contact_menu .contact_notion span {
  width: 30px;
  height: 20px;
  background: url(../common/images/notion.png) no-repeat 50%/contain;
  opacity: 0.4;
}
.active .header .menu_gnb .bg_border {
  z-index: -9999;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.active .header .menu_gnb .bg_border span {
  width: 1px;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.2);
}

/********** main **********/
.main {
  height: 100%;
  padding: 0 10vw;
  display: grid;
  align-content: center;
}
.main .title {
  line-height: 1.1;
  transition: 0.3s;
  padding: 0;
  margin: 20px 0 0;
}
.main .title li p {
  height: 23px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.main .title li h2 {
  font-family: "Inter";
  font-size: 4em;
  font-weight: 100;
  margin: 0;
  margin-bottom: 30px;
  line-height: 0.9;
}
.main .title li h2 .bold {
  font-weight: bold;
}
.main .title li h2 .h3 {
  font-family: "NanumSquare";
  font-weight: 600;
  font-size: 0.3em;
  margin: 0 10px;
  letter-spacing: 3px;
}
.main .title li h2 .mobile {
  display: block;
}
.main .title li .text::after {
  content: "";
  border-right: 2px solid #777;
  animation: cursor 0.7s infinite steps(2);
}
.main .sub_txt p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  opacity: 0;
  animation: subTxt 3s ease 0.5s forwards;
  line-height: 1.6;
}

.scroll_down {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transition: 0.3s;
}
.scroll_down .scroll_mouse {
  display: block;
  width: 25px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: relative;
}
.scroll_down .scroll_mouse .scroll_ball {
  display: block;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: mouse 1.7s infinite ease-in-out;
}

/********** about **********/
#about {
  padding-top: 100px;
}

.about {
  padding: 0 15vw;
}
.about .aboutMe {
  line-height: 1.6;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s;
}
.about .aboutMe h2 {
  font-family: "Mulish";
  font-weight: 800;
  margin: 0;
  font-size: 4em;
}
.about .aboutMe h2 .br {
  display: none;
}
.about .aboutMe h3 {
  font-family: "NanumSquare";
  font-weight: 400;
  font-size: 1.6em;
  margin: 5px 0;
}
.about .aboutMe p {
  font-family: "NanumSquare";
  font-weight: 400;
  width: 60vw;
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.about .keywords {
  height: 100%;
  margin-top: 40px;
}
.about .keywords .keywords_wrap {
  font-family: "NanumSquare";
  font-weight: 300;
  font-size: 2.6em;
  overflow: hidden;
  padding: 0;
}
.about .keywords .keywords_wrap li {
  line-height: 1.5;
  overflow: hidden;
}
.about .keywords .keywords_wrap li ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
}
.about .keywords .keywords_wrap li ul li {
  height: 70px;
  overflow: hidden;
}
.about .keywords .keywords_wrap li ul li span {
  overflow: hidden;
  display: block;
}
.about .keywords .keywords_wrap li ul li .mobile_remove {
  display: none;
}
.about .keywords .keywords_wrap li ul li .bold {
  font-weight: 600;
  animation: size 3s ease forwards;
}
.about .keywords .keywords_wrap li ul li .up {
  animation: up 1s ease forwards;
}
.about .keywords .keywords_wrap li ul li .down {
  transform: translateY(-100px);
  animation: down 1s ease forwards;
}
.about .keywords .keywords_wrap li ul li .right {
  animation: right 2s ease forwards;
}
.about .keywords .keywords_wrap li ul li .left {
  animation: left 2s ease forwards;
}

/********** projects **********/
.projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .title_wrap {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .title_wrap h2 {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 4em;
  margin-bottom: 80px;
}
.projects .title_wrap .sub_title {
  width: 300px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 10px;
  position: relative;
}
.projects .title_wrap .sub_title .btn_bg {
  width: 52%;
  height: 100%;
  background-color: #000;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.projects .title_wrap .sub_title .design {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.projects .title_wrap .sub_title .design a {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: block;
}
.projects .title_wrap .sub_title .design a span {
  font-weight: 700;
}
.projects .title_wrap .sub_title .design .design_on {
  color: #fff;
}
.projects .img_wrap {
  width: 100%;
  height: 70%;
}
.projects .img_wrap .img_swp {
  width: 100%;
  height: 100%;
}
.projects .img_wrap .img_swp .swiper {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  position: relative;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide a {
  height: 30%;
  margin: 50px auto 0;
  display: block;
  transition: 0.3s;
  position: relative;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide a img {
  height: 100%;
  border: 7px solid #000;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide a .grayscale {
  width: 100%;
  height: 104%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide a .grayscale span {
  width: 100px;
  height: 100px;
  font-size: 1.6em;
  font-weight: 600;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide a:hover {
  position: relative;
  cursor: url(../common/images/zoom.svg) 4 5, auto;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide a:hover .grayscale {
  opacity: 1;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt {
  font-family: "Mulish";
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt h2 {
  font-size: 1.4em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  margin-top: 50px;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .view {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  margin: 30px 5px 5px;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .view h3 {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .view a {
  height: 32px;
  width: 32px;
  background-color: #000;
  border-radius: 50px;
  margin: 0;
  margin-left: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .view a .view_bg {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .view a .view_bg p {
  display: flex;
  font-size: 1.3em;
  color: #fff;
  transform: translateX(-28px);
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .view a .view_bg p span {
  padding-left: 10px;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .view a:hover {
  width: 100px;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .view a:hover .view_bg p {
  transform: translateX(0);
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt ul {
  display: flex;
  justify-content: start;
  list-style: none;
  padding-left: 0;
  margin: 5px 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt ul li {
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 7px 21px;
  margin: 3px 6px 3px 0;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .ul_pc {
  display: none;
}
.projects .img_wrap .img_swp .swiper .swiper-wrapper .swiper-slide .img_txt .ul_tab {
  display: none;
}
.projects .img_wrap .img_swp .swiper .swiper-button-next {
  right: 5vw;
}
.projects .img_wrap .img_swp .swiper .swiper-button-prev {
  left: 5vw;
}
.projects .img_wrap .img_swp .swiper .swiper-button-next,
.projects .img_wrap .img_swp .swiper .swiper-button-prev {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 160px;
}
.projects .img_wrap .img_swp .swiper .swiper-button-next:hover,
.projects .img_wrap .img_swp .swiper .swiper-button-prev:hover {
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear;
}
.projects .img_wrap .img_swp .swiper .swiper-pagination {
  display: none;
}

/********** skills **********/
#skills {
  margin: 100px 0 300px;
}

.skills {
  line-height: 1.6;
  margin: 0 15vw;
  padding-top: 50px;
}
.skills h2 {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 4em;
  margin: 0 0 30px;
}
.skills ul {
  max-width: 1100px;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.skills ul li {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 1.6em;
  position: relative;
}
.skills ul .skill_title {
  padding: 25px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  cursor: pointer;
}
.skills ul .skill_title .title_txt {
  display: flex;
  justify-content: space-between;
}
.skills ul .skill_title .title_txt .plus {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.2s;
}
.skills ul .skill_title .title_txt .plus span {
  background-color: #000;
  position: absolute;
}
.skills ul .skill_title .title_txt .plus .row {
  width: 100%;
  height: 1px;
}
.skills ul .skill_title .title_txt .plus .column {
  width: 1px;
  height: 100%;
  transition: 0.3s;
}
.skills ul .skill_title .title_txt .plus .column.on {
  height: 0;
}
.skills ul .skill_title:hover .title_txt .plus span {
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear;
}
.skills ul .skill_box {
  width: 100%;
  height: 0;
  transition: 0.4s;
}
.skills ul .skill_box .box_txt {
  padding: 30px 0 30px 60px;
  background-color: rgb(240, 240, 240);
  list-style: disc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.skills ul .skill_box .box_txt li {
  font-family: "NanumSquare";
  font-weight: 500;
  font-size: 17px;
  padding-right: 50px;
}
.skills ul .skill_title.on .title_txt .plus .column {
  height: 0;
}
.skills ul .box1.on {
  height: 380px;
}
.skills ul .box2.on {
  height: 300px;
}
.skills ul .box3.on {
  height: 400px;
}
.skills ul .box4.on {
  height: 300px;
}
.skills ul .box5.on {
  height: 340px;
}
.skills ul .last_box {
  height: 225px;
  background-color: #fff;
}

/********** contact **********/
.contact {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(6, 1fr);
  /********** footer **********/
}
.contact .roll {
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  font-family: "NanumSquare";
  font-weight: 600;
  font-size: 9.5em;
  color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.contact .roll .roll_wrap {
  animation: 30s linear 0s infinite normal forwards running rollingleft;
}
.contact .roll p {
  width: 500vw;
}
.contact h2 {
  grid-row: 2/4;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 4em;
  margin: 0 10vw;
}
.contact .contact_wrap {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 1.6em;
  height: 100%;
  grid-row: 4/6;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contact .contact_wrap .git {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.contact .contact_wrap .git .git_logo {
  width: 100%;
  height: 100%;
  background: url(../common/images/gitHub.png) no-repeat 50%/contain;
  transform: translateX(45%);
  opacity: 0;
  transition: 0.6s;
  position: absolute;
  right: 0;
}
.contact .contact_wrap .git:hover .git_logo {
  opacity: 0.05;
}
.contact .contact_wrap .git:hover a .right {
  margin-left: 6vw;
}
.contact .contact_wrap .notion {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.contact .contact_wrap .notion .notion_logo {
  width: 100%;
  height: 100%;
  background: url(../common/images/notion.png) no-repeat 50%/contain;
  transform: translateX(45%);
  opacity: 0;
  transition: 1s;
  position: absolute;
  right: 0;
}
.contact .contact_wrap .notion:hover .notion_logo {
  opacity: 0.05;
}
.contact .contact_wrap .notion:hover a .right {
  margin-left: 6vw;
}
.contact .contact_wrap a {
  width: 100%;
  height: 100%;
  padding-left: 100px;
  display: block;
  display: flex;
  align-items: flex-end;
  position: absolute;
}
.contact .contact_wrap a p {
  margin-bottom: 50px;
  overflow: hidden;
  transition: 0.4s;
}
.contact .contact_wrap a p .bold {
  font-weight: 700;
}
.contact .contact_wrap a .right {
  width: 30px;
  height: 30px;
  background: url(../common/images/contact_right.svg) no-repeat 50%/contain;
  margin-bottom: 47px;
  margin-left: 5vw;
  transition: 0.3s;
}
.contact .contact_wrap a:hover p .bold {
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear;
}
.contact footer {
  font-family: "Mulish";
  grid-row: 6/7;
}
.contact footer ul {
  display: flex;
  flex-direction: column;
}
.contact footer ul li {
  line-height: 2;
  padding-left: 11vw;
}
.contact footer ul li a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.contact footer ul li a span {
  font-weight: 700;
  margin-right: 5px;
}
.contact footer ul li a:hover {
  color: #000;
}