@charset "utf-8";

/********** header **********/
.header {
  .header_container {
    .gnb {
      .logo {
        a {
          background: url(../common/images/logo_black.png) no-repeat 50% / contain;
        }
      }
      ul {
        width: 10vw;
        .color_mode_btn {
          a {
            background: url(../common/images/btn_colorMode.png) no-repeat 50% / contain;
          }
        }
      }
    }
  }
  .contact_btn {
    width: 120px;
    height: 120px;
    bottom: 3vw;
    right: 3vw;
    a {
      background: url(../common/images/goUp.png) no-repeat 50% / contain;
    }
  }
}

/********** menu - active **********/
.active {
  .header {
    /********** menu_gnb **********/
    .menu_gnb {
      ul {
        li {
          line-height: 1.5;
        }
      }
      .main_menu {
        font-size: 5em;
      }
      .contact_menu {
        .contact_git {
          span {
            background: url(../common/images/gitHub.png) no-repeat 50% / contain;
          }
        }
        .contact_notion {
          span {
            background: url(../common/images/notion.png) no-repeat 50% / contain;
          }
        }
      }
    }
  }
}

/********** main **********/
.main {
  padding: 0 15vw;
  .title {
    margin: 50px 0 50px;
    transition: 0.3s;
    li {
      display: flex;
      align-items: flex-end;
      p {
        font-size: 1.2em;
        margin-bottom: 30px;
      }
      h2 {
        font-size: 3.86em;
        line-height: 0.6;
        .h3 {
          font-size: 0.3em;
          margin-left: 20px;
        }
        .mobile {
          display: none;
        }
      }
    }
  }
  .sub_txt {
    p {
      font-size: 16px;
      line-height: 1.6;
    }
  }
}

/********** about **********/
.about {
  .aboutMe {
    h2 {
      font-size: 4em;
      .br {
        display: none;
      }
    }
    h3 {
      font-size: 1.6em;
    }
    p {
      width: 40vw;
    }
  }
  .keywords {
    margin: 70px 0 0;
    .keywords_wrap {
      font-size: 3.5em;
      li {
        ul {
          li {
            height: 84px;
            .mobile_remove {
              display: block;
            }
            .mobile_add {
              display: none;
            }
          }
        }
      }
    }
  }
}

/********** projects **********/
.projects {
  .title_wrap {
    height: 50%;
  }
  .img_wrap {
    height: 100%;
    position: relative;
    .img_swp {
      width: 100%;
      margin-top: 0;
      position: absolute;
      .swiper {
        width: 100%;
        margin-top: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        .swiper-wrapper {
          height: 90%;
          .swiper-slide {
            width: 50%;
            height: 100%;
            display: grid;
            padding: 0 60px;
            align-items: center;
            grid-template-rows: repeat(4, 1fr);
            a {
              height: 22vw;
              grid-row: 1/4;
              margin-left: 0;
              margin: 0 auto;
            }
            .img_txt {
              width: 90%;
              height: 100%;
              grid-row: 4/5;
              padding: 0;
              align-items: start;
              h2 {
                margin-top: 0;
              }
              .view {
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
              }
              ul {
                li {
                  padding: 10px 20px;
                  margin: 3px 6px 3px 0;
                }
              }
              .ul_tab {
                display: block;
              }
              .ul_mobil {
                display: none;
              }
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 190px;
        }
        .swiper-button-next {
          right: 17vw;
        }
        .swiper-button-prev {
          left: 17vw;
        }
      }
    }
  }
}

/********** skills **********/
.skills {
  ul {
    margin: 0 auto;
    li {
      font-size: 2em;
    }
    .skill_box {
      .box_txt {
        // padding: 20px 0 20px 15vw;
        margin: 0;
      }
    }
    .box1.on {
      height: 140px;
    }
    .box2.on {
      height: 140px;
    }
    .box3.on {
      height: 140px;
    }
    .box4.on {
      height: 90px;
    }
    .last_box {
      height: 170px;
    }
  }
}

/********** contact **********/
.contact {
  .roll {
    font-size: 9.5em;
  }
  .contact_wrap {
    display: flex;
    flex-direction: row;
    .git {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: none;
      .git_logo {
        background: url(../common/images/gitHub.png) no-repeat 50% / contain;
      }
    }
    .notion {
      .notion_logo {
        background: url(../common/images/notion.png) no-repeat 50% / contain;
      }
    }
    a {
      .right {
        background: url(../common/images/contact_right.svg) no-repeat 50% / contain;
      }
    }
  }

  /********** footer **********/
  footer {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}
