html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "NanumSqauer";
}

/******** font ********/
h3 {
  font-family: "Mulish";
  font-size: 2em;
  font-weight: 700;
}

h4 {
  font-size: 1.3em;
  font-weight: 600;
}

li {
  line-height: 1.6;
}

/********** header **********/
.header {
  z-index: 1;
  position: fixed;
  top: 0;
}
.header .header_container .gnb {
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header .header_container .gnb .logo {
  width: 33px;
  height: 26px;
}
.header .header_container .gnb .logo a {
  width: 100%;
  height: 100%;
  background: url(../../common/images/logo_black.png) no-repeat 50%/contain;
  display: block;
}
.header .header_container .gnb .title {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 10px;
  opacity: 0;
  transition: 0.5s;
}
.header .header_container .gnb ul {
  width: 15vw;
  height: 26px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  transition: 0.3s;
}
.header .header_container .gnb ul .color_mode_btn {
  min-width: 25px;
  transition: 0.3s;
}
.header .header_container .gnb ul .color_mode_btn a {
  width: 100%;
  height: 100%;
  background: url(../../common/images/btn_colorMode.png) no-repeat 50%/contain;
  display: block;
}
.header .header_container .gnb ul .color_mode_btn:hover {
  transform: rotate(180deg);
}
.header .header_container .gnb ul .menu_btn {
  width: 26px;
  transition: 0.3s;
}
.header .header_container .gnb ul .menu_btn a {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  justify-content: space-between;
}
.header .header_container .gnb ul .menu_btn a span {
  width: 1px;
  height: 100%;
  background-color: #000;
  margin-left: 5px;
  transition: 0.3s;
}
.header .header_container .gnb ul .menu_btn:hover {
  transform: rotate(90deg);
}
.header .header_container .gnb ul .menu_btn:hover a .short {
  height: 60%;
}
.header .menu_gnb {
  display: none;
  width: 0;
  height: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.header .contact_btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  transition: 0.4s;
}
.header .contact_btn a {
  width: 100%;
  height: 100%;
  background: url(../../common/images/goUp.png) no-repeat 50%/contain;
  display: block;
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}
.header .contact_btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/********** background **********/
.project_bg {
  z-index: -9999;
  height: 100vh;
  background: fixed url(../../common/images/project2_main.jpg) no-repeat 50%/cover;
  position: relative;
  top: 0;
}
.project_bg .bg_grayscale {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.project_bg .bg_text {
  color: #fff;
  position: fixed;
  left: 5vw;
  bottom: 5vw;
}
.project_bg .bg_text h2 {
  font-family: "Mulish";
  font-size: 6em;
  font-weight: 800;
  margin-bottom: 10px;
}
.project_bg .bg_text p {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 70px;
}
.project_bg .bg_text ul {
  font-family: "Mulish";
  font-size: 1.3em;
  font-weight: 300;
}
.project_bg .bg_text ul li {
  line-height: 2;
}

/********** main **********/
.project_container {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 5vw;
}
.project_container .project_overview {
  margin-bottom: 200px;
}
.project_container .project_overview .overview_title {
  margin-bottom: 100px;
}
.project_container .project_overview .overview_title h3 {
  margin: 150px 0 30px;
}
.project_container .project_overview .overview_title .bold {
  font-size: 1.3em;
  font-weight: 600;
}
.project_container .project_overview .overview_title p {
  line-height: 1.5;
  margin-bottom: 30px;
}
.project_container .project_overview .overview_list ul {
  display: flex;
  justify-content: space-around;
}
.project_container .project_overview .overview_list ul li {
  padding: 0 20px;
  text-align: center;
}
.project_container .project_overview .overview_list ul .short_bar {
  width: 1px;
  height: 60px;
  background-color: #ccc;
  padding: 0;
  display: flex;
  align-items: center;
}
.project_container .project_info .info_img {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.project_container .project_info .info_img img {
  max-width: 52vw;
  border: 7px solid #000;
  border-radius: 10px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
}
.project_container .project_info .info_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px 0;
  border-bottom: 1px solid #ddd;
}
.project_container .project_info .info_box h3 {
  font-size: 2em;
}
.project_container .project_info .info_box ul li {
  font-family: "Mulish", "NanumSqauer";
  font-size: 1.1em;
  font-weight: 500;
}
.project_container .project_info .info_keywords ul li {
  font-size: 1.3em;
  font-weight: 600;
  display: inline;
  margin-right: 20px;
}
.project_container .project_info .info_design .info_design_font {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.project_container .project_info .info_pub ul li {
  list-style: disc;
}
.project_container .project_info .info_review {
  border-bottom: none;
}
.project_container .project_info .info_review ul li h4 {
  margin-bottom: 10px;
}
.project_container .project_info .info_review ul .review1 {
  margin-bottom: 30px;
}
.project_container .project_info .info_review ul .project_btn {
  margin: 100px 0;
}
.project_container .project_info .info_review ul .project_btn ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.project_container .project_info .info_review ul .project_btn ul li {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  text-align: center;
  transition: 0.3s;
}
.project_container .project_info .info_review ul .project_btn ul li a {
  font-weight: 600;
  display: block;
  padding: 20px 25px;
  display: flex;
}
.project_container .project_info .info_review ul .project_btn ul li a span {
  margin-left: 10px;
  transition: 0.3s;
}
.project_container .project_info .info_review ul .project_btn ul li:hover {
  color: #000;
  background-color: #fff;
}
.project_container .project_info .info_review ul .project_btn ul li:hover a span {
  transform: translateX(10px);
}

footer {
  border-top: 1px solid #ddd;
  padding: 50px 0;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul li a {
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
footer ul li a span {
  font-weight: 600;
}
footer ul li a:hover {
  color: #000;
}
footer .back_btn {
  display: flex;
}
footer .back_btn span {
  width: 50px;
  height: 100%;
  background: url(../../common/images/return.png) no-repeat 50%/contain;
}