@charset "utf-8";

html {
  scroll-behavior: smooth;
  // overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "NanumSqauer";
}

/******** font ********/
h3 {
  font-family: "Mulish";
  font-size: 2.5em;
  font-weight: 700;
}
h4 {
  font-size: 1.3em;
  font-weight: 600;
}
li {
  line-height: 1.6;
}

/********** header **********/
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  .header_container {
    .gnb {
      width: 100vw;
      height: 100px;
      box-sizing: border-box;
      padding: 0 10vw;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .logo {
        width: 33px;
        height: 26px;
        a {
          width: 100%;
          height: 100%;
          background: url(../../common/images/logo_black.png) no-repeat 50% / contain;
          display: block;
        }
      }
      .title {
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: 10px;
        opacity: 0;
        transition: 0.5s;
      }
      ul {
        width: 15vw;
        height: 26px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        transition: 0.3s;
        .color_mode_btn {
          min-width: 25px;
          transition: 0.3s;
          a {
            width: 100%;
            height: 100%;
            background: url(../../common/images/btn_colorMode.png) no-repeat 50% / contain;
            display: block;
          }
        }
        .color_mode_btn:hover {
          transform: rotate(180deg);
        }
        .menu_btn {
          width: 26px;
          transition: 0.3s;
          a {
            width: 100%;
            height: 100%;
            display: block;
            display: flex;
            justify-content: space-between;
            span {
              width: 1px;
              height: 100%;
              background-color: #000;
              margin-left: 5px;
              transition: 0.3s;
            }
          }
        }
        .menu_btn:hover {
          transform: rotate(90deg);
          a {
            .short {
              height: 60%;
            }
          }
        }
      }
    }
  }
  .menu_gnb {
    display: none;
    width: 0;
    height: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .contact_btn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    transition: 0.4s;
    a {
      width: 100%;
      height: 100%;
      background: url(../../common/images/goUp.png) no-repeat 50% / contain;
      display: block;
      animation: rotate_image 6s linear infinite;
      transform-origin: 50% 50%;
    }
  }
  .contact_btn:hover {
    // animation: paused;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
}

/********** background **********/
.project_bg {
  z-index: -9999;
  height: 100vh;
  background: fixed url(../../common/images/project3_main.png) no-repeat 50% / cover;
  position: relative;
  top: 0;
  .bg_grayscale {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .bg_text {
    color: #fff;
    position: fixed;
    left: 5vw;
    bottom: 5vw;
    h2 {
      font-family: "Mulish";
      font-size: 6em;
      font-weight: 800;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.7em;
      font-weight: 300;
      margin-bottom: 70px;
    }
    ul {
      font-family: "Mulish";
      font-size: 1.3em;
      font-weight: 300;
      li {
        line-height: 2;
      }
    }
  }
}

/********** main **********/
.project_container {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 5vw;
  .project_overview {
    margin-bottom: 200px;
    .overview_title {
      margin-bottom: 100px;
      h3 {
        margin: 150px 0 30px;
      }
      .bold {
        font-size: 1.3em;
        font-weight: 600;
      }
      p {
        line-height: 1.5;
        margin-bottom: 30px;
      }
    }
    .overview_list {
      ul {
        display: flex;
        justify-content: space-around;
        li {
          padding: 0 20px;
          text-align: center;
        }
        .short_bar {
          width: 1px;
          height: 60px;
          background-color: #ccc;
          padding: 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .project_info {
    .info_img {
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      img {
        max-width: 52vw;
        border: 7px solid #000;
        border-radius: 10px;
        box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
      }
    }
    .info_box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 100px 0;
      border-bottom: 1px solid #ddd;
      h3 {
        font-size: 2em;
      }
      ul {
        li {
          font-family: "Mulish", "NanumSqauer";
          font-size: 1.1em;
          font-weight: 500;
        }
      }
    }
    .info_keywords {
      ul {
        li {
          font-size: 1.3em;
          font-weight: 600;
          display: inline;
          margin-right: 20px;
        }
      }
    }
    .info_design {
      // .info_design_color {
      // }
      .info_design_font {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }
    }
    .info_pub {
      ul {
        li {
          list-style: disc;
        }
      }
    }
    .info_review {
      border-bottom: none;
      ul {
        li {
          h4 {
            margin-bottom: 10px;
          }
        }
        .review1 {
          margin-bottom: 30px;
        }
        .project_btn {
          margin: 100px 0;
          ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            li {
              color: #fff;
              background-color: #000;
              border: 2px solid #000;
              text-align: center;
              transition: 0.3s;
              a {
                font-weight: 600;
                display: block;
                padding: 20px 25px;

                display: flex;
                span {
                  // opacity: 0;
                  margin-left: 10px;
                  transition: 0.3s;
                }
              }
            }
            li:hover {
              color: #000;
              background-color: #fff;
              a {
                span {
                  // opacity: 1;
                  transform: translateX(10px);
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #ddd;
  padding: 50px 0;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      a {
        color: rgba(0, 0, 0, 0.5);
        display: block;
        span {
          font-weight: 600;
        }
      }
      a:hover {
        color: #000;
      }
    }
  }
  .back_btn {
    display: flex;
    span {
      width: 50px;
      height: 100%;
      background: url(../../common/images/return.png) no-repeat 50% / contain;
    }
  }
}
