@charset "utf-8";

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #000;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "NanumSqauer";
}

/******** font ********/
h3 {
  font-family: "Mulish";
  font-size: 2em;
  font-weight: 700;
}
h4 {
  font-size: 1.3em;
  font-weight: 600;
}
li {
  line-height: 1.6;
}

/********** header **********/
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  .header_container {
    .gnb {
      width: 100vw;
      height: 150px;
      box-sizing: border-box;
      padding: 0 10vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s;
      .logo {
        width: 33px;
        height: 26px;
        a {
          width: 100%;
          height: 100%;
          background: url(../../common/images/logo_white.png) no-repeat 50% / contain;
          display: block;
        }
      }
      .title {
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: 10px;
        opacity: 0;
        transition: 0.3s;
      }
      ul {
        width: 15vw;
        height: 26px;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        transition: 0.3s;
        // .color_mode_btn {
        //   min-width: 25px;
        //   transition: 0.3s;
        //   a {
        //     width: 100%;
        //     height: 100%;
        //     background: url(../../common/images/colorMode_white.png) no-repeat 50% / contain;
        //     display: block;
        //   }
        // }
        // .color_mode_btn:hover {
        //   transform: rotate(180deg);
        // }
        .menu_btn {
          width: 26px;
          transition: 0.3s;
          a {
            width: 100%;
            height: 100%;
            display: block;
            display: flex;
            justify-content: space-between;
            span {
              width: 1px;
              height: 100%;
              background-color: #fff;
              margin-left: 5px;
              transition: 0.3s;
            }
          }
        }
        .menu_btn:hover {
          transform: rotate(90deg);
          a {
            .short {
              height: 60%;
            }
          }
        }
      }
    }

    .gnb_on {
      .logo {
        a {
          background: url(../../common/images/logo_black.png) no-repeat 50% / contain;
        }
      }
      ul {
        // .color_mode_btn {
        //   a {
        //     background: url(../../common/images/colorMode_black.png) no-repeat 50% / contain;
        //   }
        // }
        .menu_btn {
          a {
            span {
              background-color: #000;
            }
          }
        }
      }
    }
  }

  .menu_gnb {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateX(100vw);
    position: absolute;
    ul {
      li {
        a {
          transition: 1s;
        }
      }
    }
  }
  .contact_btn {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: fixed;
    bottom: 4vw;
    right: 4vw;
    transition: 0.4s;
    a {
      width: 100%;
      height: 100%;
      background: url(../../common/images/goUp.png) no-repeat 50% / contain;
      display: block;
      animation: rotate_image 6s linear infinite;
      transform-origin: 50% 50%;
    }
  }
  .contact_btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .upBtn {
    opacity: 0;
  }
  .top_btn {
    height: 30px;
    font-size: 1.1em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 60px;
    left: 5vw;
    opacity: 0;
    transition: 0.3s;
    a {
      height: 100%;
      display: flex;
      align-items: center;
      padding-top: 10px;
      span {
        margin-right: 5px;
        font-size: 1.6em;
      }
    }
  }
  .top_btn:hover {
    height: 50px;
    background-image: linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 3s infinite linear;
  }
}

/********** menu - active **********/
.active {
  .header {
    .header_container {
      .gnb {
        .logo {
          a {
            background: url(../../common/images/logo_black.png) no-repeat 50% / contain;
          }
        }
        .title {
          font-family: "Inter", "NanumSqaure";
          letter-spacing: 6px;
          margin-left: 15px;
          margin-bottom: 5px;
          opacity: 1;
        }
        ul {
          // .color_mode_btn {
          //   a {
          //     background: url(../../common/images/colorMode_black.png) no-repeat 50% / contain;
          //   }
          // }
          .menu_btn {
            width: 26px;
            transition: 0.3s;
            a {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-between;
              span {
                background-color: #000;
              }
              .bar1 {
                transform: translateX(5px) rotate(45deg);
              }
              .bar2 {
                transform: translateX(-5px) rotate(-45deg);
              }
              .short {
                height: 0;
                opacity: 0;
              }
            }
          }
          .menu_btn:hover {
            transform: rotate(90deg);
            a {
              .short {
                height: 60%;
              }
            }
          }
        }
      }
    }
    /********** menu_gnb **********/
    .menu_gnb {
      height: 80vh;
      opacity: 1;
      margin-bottom: 100px;
      transform: translateX(0);
      transition: 0.5s;
      ul {
        display: flex;
        font-family: "Mulish";
        li {
          line-height: 1.7;
          a:hover {
            background-image: linear-gradient(92deg, #f35626, #feab3a);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: hue 3s infinite linear;
          }
        }
      }
      .main_menu {
        font-weight: 800;
        font-size: 4.5em;
        margin-right: 10vw;
        // line-height: 1.5;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
      }
      .contact_menu {
        display: flex;
        flex-direction: column;
        font-size: 1.4em;
        font-weight: 700;
        margin-top: 20px;
        .contact_git {
          display: flex;
          align-items: center;
          margin: 5px 0;
          span {
            width: 30px;
            height: 20px;
            background: url(../../common/images/gitHub.png) no-repeat 50% / contain;
            opacity: 0.4;
          }
        }
        .contact_notion {
          display: flex;
          align-items: center;
          span {
            width: 30px;
            height: 20px;
            background: url(../../common/images/notion.png) no-repeat 50% / contain;
            opacity: 0.4;
          }
        }
      }
      .bg_border {
        z-index: -9999;
        width: 100%;
        height: 80vh;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        span {
          width: 1px;
          height: 65%;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .project_bg {
    display: none;
  }
  .project_container {
    display: none;
  }
  footer {
    display: none;
  }
}

/********** background **********/
.project_bg {
  z-index: -9999;
  width: 100%;
  height: 100vh;
  background: url(../../common/images/project1_main.png) no-repeat 50% / cover;
  position: fixed;
  top: 0;
  left: 0;
  .bg_grayscale {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .bg_text {
    width: 90%;
    left: 50%;
    bottom: 7rem;
    transform: translateX(-50%);
    position: absolute;
    color: #fff;
    // position: fixed;
    // left: 5vw;
    h2 {
      font-family: "Mulish";
      font-size: 8em;
      font-weight: 800;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.7em;
      font-weight: 300;
      margin-bottom: 70px;
    }
    ul {
      font-family: "Mulish";
      font-size: 1.3em;
      font-weight: 300;
      li {
        line-height: 2;
      }
    }
  }
  .scroll_down {
    font-size: 14px;
    color: #ffffffbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transition: 0.3s;
    .scroll_mouse {
      display: block;
      width: 25px;
      height: 45px;
      border: 1px solid #ffffffbb;
      border-radius: 15px;
      position: relative;
      .scroll_ball {
        display: block;
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ffffffbb;
        animation: mouse 1.7s infinite ease-in-out;
      }
    }
  }
}

/********** main **********/
.project_container {
  min-width: 955px;
  background-color: #fff;
  margin-top: 100vh;
  padding: 50px 15vw;

  .project_overview {
    margin-bottom: 200px;
    .overview_title {
      margin-bottom: 100px;
      h3 {
        margin: 150px 0 30px;
      }
      .bold {
        font-size: 1.3em;
        font-weight: 600;
      }
      p {
        line-height: 1.5;
        margin-bottom: 30px;
      }
    }
    .overview_list {
      ul {
        display: flex;
        justify-content: space-around;
        li {
          padding: 0 20px;
          text-align: center;
        }
        .short_bar {
          width: 1px;
          height: 60px;
          background-color: #ccc;
          padding: 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .project_info {
    .info_img {
      margin-top: 100px;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      img {
        max-width: 52vw;
        border: 7px solid #000;
        border-radius: 10px;
        box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
      }
    }
    .info_box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 100px 0;
      border-bottom: 1px solid #ddd;
      h3 {
        font-size: 2em;
      }
      ul {
        li {
          font-family: "Mulish", "NanumSqauer";
          font-size: 1.1em;
          font-weight: 500;
        }
      }
    }
    .info_codingConvention {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-bottom: 1px solid #ddd;
      img {
        height: 900px;
      }
    }
    .info_team {
      font-size: 1em;
      display: flex;
      flex-direction: column;
      .team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .progress {
          grid-column: 2/3;
          margin-bottom: 40px;
          p {
            line-height: 1.6;
            margin-bottom: 10px;
          }
          ul {
            margin-bottom: 20px;
            li {
              font-size: 1em;
            }
          }
        }
        h4 {
          font-size: 1.1em;
          font-weight: 600;
          margin-bottom: 10px;
          padding: 5px;
          span {
            padding: 0 5px;
            background-color: #ccc;
            color: #fff;
          }
        }
      }
      .info_team_target {
        ul {
          li {
            list-style: disc;
            line-height: 2;
          }
        }
      }
      .info_team_role {
        ul {
          list-style: disc;
          li {
            line-height: 2;
          }
        }
      }
      .info_team_result {
        border-bottom: none;
        ul {
          list-style: disc;
        }
        .result {
          h4 {
            color: #000;
            background-color: transparent;
          }
          p {
            font-size: 16px;
            margin-bottom: 20px;
            line-height: 1.6;
            span {
              text-decoration: underline;
            }
          }
        }
        .result1 {
          margin-bottom: 50px;
        }
        .result2 {
          grid-column: 2/3;
        }
      }
    }
    .info_keywords {
      ul {
        li {
          font-size: 1.3em;
          font-weight: 600;
          display: inline;
          margin-right: 20px;
        }
      }
    }
    .info_design {
      .info_design_color {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        span {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
        .color1 {
          background-color: #69c270;
        }
        .color2 {
          background-color: #f5af01;
          transform: translateX(-30px);
        }
        .color3 {
          background-color: #cf2327;
          transform: translateX(-60px);
        }
        .color4 {
          background-color: #000;
          transform: translateX(-90px);
        }
      }
      .info_design_font {
        .font {
          font-size: 15px;
          display: grid;
          grid-template-columns: 1fr 2fr;
        }
        .notoSans {
          font-family: "NotoSans-Regular";
          margin-bottom: 50px;
          ul {
            li {
              font-family: "NotoSans-Regular";
            }
          }
        }
        .basicSans {
          font-family: "Basic-Sans-Regular";
        }
      }
    }
    .info_pub {
      ul {
        li {
          font-size: 17px;
          list-style: disc;
          line-height: 2;
        }
      }
    }
    .info_review {
      border-bottom: none;
      ul {
        li {
          h4 {
            margin-bottom: 10px;
          }
        }
        .review {
          margin-bottom: 30px;
          p {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
        .project_btn {
          margin: 100px 0;
          ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            li {
              width: 49%;
              box-sizing: border-box;
              color: #fff;
              background-color: #000;
              border: 1px solid #000;
              text-align: center;
              transition: 0.3s;
              a {
                font-weight: 600;
                display: block;
                padding: 20px 25px;
                .br {
                  display: none;
                }
              }
            }
            li:hover {
              color: #000;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 50px 0;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      a {
        color: rgba(0, 0, 0, 0.5);
        display: block;
        span {
          font-weight: 600;
        }
      }
      a:hover {
        color: #000;
      }
    }
  }
  .back_btn {
    display: flex;
    span {
      width: 50px;
      height: 100%;
      background: url(../../common/images/return.png) no-repeat 50% / contain;
    }
  }
}

@media (max-width: 1388px) {
  .br {
    display: block;
  }
}
